body {
  background-color: gray;
}

.grid-container {
  display: grid;
  background-image: url("static/board.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-columns: repeat(19, 1fr);
  --size: 90vmin;
  width: var(--size);
  height: var(--size);
  box-sizing: border-box;
  padding: 5px;
}

.grid-item-white, .grid-item-black, .grid-item-white-stone, .grid-item-black-stone {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-item-white:hover, .grid-item-white-stone {
  background-image: url("static/white-shell.png");
}

.grid-item-black:hover, .grid-item-black-stone {
  background-image: url("static/black.png");
}

.grid-item-white:hover, .grid-item-black:hover {
  opacity: 0.75;
}